:root {
    --primary-color:  #373435;
    --secundary-color: #00aeff; 
  /*--tertiary-color: #FFFFFF;
  --green-opacity:  rgba(51, 51, 51, 0.8) !important; */
  /* var(--green-opacity); */
}
body {
    font-family: 'Lexend Deca', sans-serif;
}
#mainNav {
    background-color: #212529;
}

#mainNav .navbar-toggler {
font-size: 12px;
right: 0;
padding: 13px;
text-transform: uppercase;
color: white;
border: 0;
background-color: var(--secundary-color);
}

/* .name1 {    
    font-family: 'Bangers', cursive;
    font-size: 3rem;
} */

/* nav {
    background: var(--primary-color) !important;
    opacity: 0;
} */

/* .c-bottom{
    color: gray !important;
    opacity: 0.9 !important;
    padding-bottom: 50px !important;
} */

.Titulo1{
    background-color: rgba(179, 179, 179, 0.1);
    /* opacity : 0.7; */
    border-radius: 5px;
    text-shadow: 2px 2px 8px black
}
.name1{
    opacity : 1 !important;
}

#mainNav .navbar-brand {
color: var(--secundary-color);
font-family: 'Bangers', cursive;
font-size: 2rem;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
color: var(--secundary-color);
}

#mainNav .navbar-nav .nav-link {
font-size: 90%;
font-weight: 400;
padding: 0.75em 0;
letter-spacing: 1px;
color: white;
font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link .active , #mainNav .navbar-nav .nav-item .nav-link:hover {
color: var(--secundary-color);
}

#mainNav {
    padding-top: 10px;
    padding-bottom: 0px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
}

#mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
}

#mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
}

#mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
}

.project {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.project.fade-in {
    opacity: 1;
    transform: translateY(0)
}

/* fade start right */

/* .project-right {
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s ease-out;
}

.project-right.fade-right {
    opacity: 1;
    transform: translateX(0);
} */

@media (min-width: 768px) {
    header.masthead h1{
        font-size: 3rem;
        color: var(--secundary-color);
    }
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../img/coding.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 700;
}


/* change color inside .svg*/

.svgicon { 
    display: flex; 
    justify-content: center;
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }


.features-icons .features-icons-item {
    max-width: 20rem;
  }
  
.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
  }


.section-heading {
    padding-top: 4rem;
}

.section-subheading {
    padding-bottom: 2rem;
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

.logos-svg {
    width : 380 ;
    height : 380 ;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
    .logos-svg {
        width : 170 ;
        height : 170 ;
    }
}

footer.footer {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* id = "grayscale" */
/*GrayScale*/
.column1 {
    display: inline-block;
    /* background: url("../img/coding.jpg") no-repeat center center; */
	text-align: center;
}
.column1 img {
    /* display: block; */
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* width: auto; 
    height: auto; */
}
.column1 #grayscale-zommIn img {
    filter: grayscale(100%);
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
.column1 #grayscale-zommIn:hover img {
    filter: grayscale(0);
    transform: scale(1.2);
}


/* Animition .logos-svg */
#zommIn svg {
    /* filter: grayscale(100%); */
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
#zommIn:hover svg {
    /* filter: grayscale(0); */
    transform: scale(1.5);
}

#blue-circle {
    animation: wheel1 3s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#orange-circle {
    animation: wheel2 6s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#black-circle {
    animation: wheel1 9s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes wheel1 {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes wheel2 {
    from{
        transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}

/* Frames  */

.frame {
	text-align: center;	
	position: relative;
	cursor: pointer;	
	perspective: 500px; 
}
/* .frame img {
	width: 300px;
	height: 300px;
} */
.frame .details {
	width: 70%;
	height: 80%;	
	padding: 15% 8%;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(0, 0, 0, 0.959);	
	opacity: 0;
    transition: all 0.25s ease-in;
    /* transform: scale(1); */	
}
.frame:hover .details {
	transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 1;
    /* transform: scale(1.2); */
}

.frame .details .link1{
    font-size: 2em;
}
